<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common.html :: head"></head>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }
</style>

<body>
    <div class="container">
        <!--    Header-->
        <header th:replace="fragments/common.html :: header"></header>

        <!--Breadcrumb-->
        <th:block
                th:with="homeUrl='/',
                     home=#{nav.home},
                     userUrl='/'+ ${article.user.username},
                     username=${article.user.username.toUpperCase()},
                     currentPage=#{info.edit.article}">
            <div th:replace="~{fragments/common.html :: breadcrumb(mapList = ${ {{name:home, url:homeUrl}, {name:username, url:userUrl}, {name:currentPage.toUpperCase()}}})}" ></div>
        </th:block>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="" method="POST" th:action="@{/{username}/article/{id}/edit(username=${article.user.userName}, id=${article.id})}" th:object="${article}">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <legend class="text-center header" th:text="#{info.edit.article}"></legend>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="fw-bold" for="title" th:text="#{form.title} + ':'"></label>
                                    <input id="title" name="title" type="text" th:value="*{title}" th:field="*{title}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="fw-bold" for="description" th:text="#{form.description} + ':'"></label>
                                    <input id="description" name="description" type="text" th:value="*{description}" th:field="*{description}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="fw-bold" for="content" th:text="#{form.content} + ':'"></label>
                                    <textarea class="form-control" id="content" name="content" th:value="*{content}" th:field="*{content}" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <br>
                                <div class="col-md-8 text-center">
                                    <button type="submit" th:text="#{button.submit}" class="btn btn-primary btn-lg"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer th:replace="fragments/common.html :: footer"></footer>

</body>
</html>
