<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common.html :: head"></head>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }
</style>

<body>
    <div class="container">
        <!--    Header-->
        <header th:replace="fragments/common.html :: header"></header>

        <!--Breadcrumb-->
        <th:block
                th:with="homeUrl='/',
                     home=#{nav.home},
                     userUrl='/'+ ${acc},
                     userName=${acc},
                     currentPage=#{info.new.article}">
            <div th:replace="~{fragments/common.html :: breadcrumb(mapList = ${ {{name:home, url:homeUrl}, {name:userName, url:userUrl}, {name:currentPage}}})}" ></div>
        </th:block>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="POST" th:action="@{/article/upload}" th:object="${article}" enctype="multipart/form-data">
                        <fieldset>

                            <div class="form-group">
                                <div class="col-md-8">
                                    <legend class="text-center header" th:text="#{info.new.article}"></legend>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="title" name="title" type="text" th:placeholder="#{form.title}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="description" name="description" type="text" th:placeholder="#{form.description}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="file" name="file" type="file" th:placeholder="#{form.upload}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <textarea class="form-control" id="content" name="content" th:placeholder="#{form.content}" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <br>
                                <div class="col-md-8 text-center">
                                    <button type="submit" th:text="#{button.submit}" class="btn btn-primary btn-lg"></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer th:replace="fragments/common.html :: footer"></footer>

</body>
</html>
