<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<head th:replace="fragments/common.html :: head"></head>


<body>

<div class="container">
    <!--Header-->
    <header th:replace="fragments/common.html :: header"></header>

    <!--Breadcrumb-->
    <th:block
        th:with="homeUrl='/',
                 home=#{nav.home},
                 userUrl='/'+ ${acc},
                 articleName=${article.title.toUpperCase()}">
        <div th:replace="~{fragments/common.html :: breadcrumb(mapList = ${ {{name:home, url:homeUrl}, {name:acc, url:userUrl}, {name:articleName} }})}" ></div>
    </th:block>

</div>

<main class="container">

    <th:block th:if="${article} == null">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <iframe src="https://giphy.com/embed/cdIdkfJ2IZCxi" width="400" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <h2 class="card-title" th:text="#{error.nocontent}"></h2>
                </div>
            </div>
        </div>
    </th:block>


    <th:block th:if="${article} != null">
        <div class="card">
            <img th:src="@{/uploads/image/{file}(file=${article.imageName})}" class="card-img-top" alt="image">
            <div class="card-body">
                <strong th:text="${article.user.userName}"></strong>
                <h5 th:text="${article.title}" class="card-title">Title</h5>
                <p th:text="${article.getContent()}" class="card-text">Description</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </th:block>

</main>

<!--Footer-->
<footer th:replace="fragments/common.html :: footer"></footer>

</body>
</html>
