<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Head-->
<head th:replace="fragments/common.html :: head"></head>

<body>

<div class="container">

    <!--Header-->
    <header th:replace="fragments/common.html :: header"></header>

    <!--Breadcrumb-->
    <th:block
            th:with="homeUrl='/',
                 home=#{nav.home}">
        <div th:replace="~{fragments/common.html :: breadcrumb(mapList = ${ {{name:home, url:homeUrl}, {name:acc}}})}" ></div>
    </th:block>
</div>

<main class="container">

    <th:block th:if="${articles.isEmpty()}">
        <!--No Content Card-->
        <div th:replace="fragments/cards.html :: noContent"></div>
    </th:block>

    <th:block th:if="${articles.getContent().size > 0}">
        <!--Top Article Card-->
        <div th:replace="fragments/cards.html :: topArticle(${articles.getContent().get(0)})"></div>
    </th:block>

    <th:block th:if="${articles.getContent().size > 2}">
        <!--Article Cards-->
        <div th:replace="fragments/cards.html :: cardGroup(${articles})"></div>
    </th:block>

    </th:block>

    <th:block th:if="${!articles.isEmpty()}">
        <!--Table Of Articles-->
        <table th:replace="fragments/table.html :: articleTable(${articles})"></table>
    </th:block>

    <!--Pagination-->
    <nav th:replace="fragments/table.html :: pagination(${articles})" ></nav>


</main>

<!--Footer-->
<footer th:replace="fragments/common.html :: footer"></footer>

</body>
</html>
